.capsule {
	box-sizing:border-box;
	padding:0px 30px;
	background:#f8f8f8;
	border-radius:5px;
	margin-bottom:10px;
	overflow:hidden;
	max-height:60px;
	-webkit-transition:max-height 0.2s;
	position:relative;
	border:1px solid #eee;
	&.inactive {
		background:rgba( #f8f8f8, .5 );
		border:1px solid rgba(#eee, .5 );
		h3 {
			opacity:0.3;
		}
	}
	&:after {
		position: absolute;
		top:0px;
		right:20px;
		display: block;
		width: 47px;
		height:60px;
		cursor:pointer;
		content:"";
		background:url('../img/cog.png') center center no-repeat;
	}
	h3 {
		cursor:pointer;
		margin: 0;
		padding:0;
		&.header {
			line-height: 60px;
			height:60px;
			$locales: us gb ie;

			@each $locale in $locales {
				&.#{$locale}{
					padding-left:25px;
					background: url('../img/#{$locale}.png') center left no-repeat;
				}
			}

		}
	}
	&.open {
		-webkit-transition:max-height 0.6s;
		border:1px solid $green;
		background:#fff;
		max-height: 999px;
		&.child {
			border-color:#ddd;
		}
	}
}

.capsule.accordian {

	$h: 45px;
	$r:3px;
	$b: 1px solid #eee;
	padding:0px 30px;
	background:#fafafa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(100%,#fafafa), color-stop(60%,#ffffff));
	border-radius:$r;
	margin-bottom:0px;
	overflow:hidden;
	max-height:$h;
	border:none;

	margin-bottom:-1px;
	border:$b;
	
	&:last-child {
	}

	&:first-child {
		border-radius:$r $r 0 0;
		// border-top:$b;
		// border-width:1px 0 1px 0;
	}

	&.inactive {
		background:rgba( #f8f8f8, .5 );
		border:1px solid rgba(#eee, .5 );
		h3 {
			opacity:0.3;
		}
	}
	&:after {
		position: absolute;
		top:0px;
		right:10px;
		display: block;
		width: 47px;
		height:$h;
		cursor:pointer;
		background-image:url('../img/arrow.png');
		background-image:url('../img/cog.png');
	}
	h3 {
		font-size: 13px;
		&.header {
			line-height: $h;
			height:$h;
		}
	}
	&.open {
		max-height: 999px;
		background:#fff;
		
		&.child {
			
		}
		&:after {
			// -webkit-transform:rotate(180deg)
		}
	}
}