.current-queue {
  .item {
    -webkit-box-shadow: 1px 0px #ddd;
    padding:30px 0;
    text-align: center;
    &:last-child {
      -webkit-box-shadow: none;
    }
    .name {
      color:#999;
    }
    .value {
      font-size: 24px;
      color:#333;
      position: relative;
      @extend .semibold;
    }
    .percentage {
      font-size:13px;
      position: absolute;
      -webkit-transform:translate3d(5px,10px,0);
      &.green {
        color:$green;
      }
      &.red{
        color:$red;
      }
    }
  }
}