#lotus-header {
  position: fixed;
  width:100%;
  height:42px;
  background:$green;
  top:0;
  left:0;
  z-index: 9999;
}

#lotus-sidebar {
  .main,
  .sub {
    position: fixed;
    left:0;
    top:0;
  }
  .main {
    width:60px;
    height:100%;
    background:#e7e7e7;
  }
  .sub {
    // display:none;
    width:290px;
    height:100%;
    background:#f8f8f8;
    left:60px;
    border:1px solid #ddd;
    border-width:0 1px 0;
  }
  .admin-sidebar {
    padding:70px 30px 0 30px;

    h3 {
      color:#555;
      text-transform: capitalize;
      border-bottom: 1px solid #ccc;
      padding-bottom:8px;
      margin-bottom:10px;
      font-size: 13px;
      margin-top: 25px;
      &:first-child {
        margin-top: 0px;
      }
    }

    ul {
      font-size: 13px;
      color:#888;
      list-style-type: none;
      padding-left:0;
      li {
        line-height: 33px;
        text-indent: 10px;
        &.active,
        &:hover {
          cursor:pointer;
          font-weight: bold;
          color:#333;
          background: lighten(#ccc,13);
          border-radius:5px;
        }
      }
    }

  }
}


#lotus-container {
  margin-left: 365px;
  margin-top: 82px;
  padding-right: 20px;
  padding-bottom:30px;
}

h1 {
  font-size:22px;
  margin-bottom:40px;
}


.lotus-tabs {
  border-bottom:1px solid #ddd;
  font-size:13px;
  li {
    list-style-type: none;
    display:inline-block;
    padding: 0 10px 10px 10px;
    a {
      text-decoration: none;
      color: #555;
    }
    &.active {
      border-bottom: 3px solid $green;
      font-weight: bold;
      &:hover {
        border-color:$green;
      }
    }
    &:hover {
      cursor:pointer;
      border-bottom: 3px solid #eee;
    }
  }
}