@for $i from 0 through 300 {
  .t-#{$i}{
    margin-top: #{$i}px;
  }
}

@for $i from 0 through 300 {
  .b-#{$i}{
    margin-bottom: #{$i}px;
  }
}

@for $i from 0 through 300 {
  .l-#{$i}{
    margin-left: #{$i}px !important;
  }
}

@for $i from 0 through 300 {
  .r-#{$i}{
    margin-right: #{$i}px !important;
  }
}


@for $i from 0 through 100 {
  .p-l-#{$i}{
    padding-left: #{$i}px !important;
  }
  .p-b-#{$i}{
    padding-bottom: #{$i}px !important;
  }
}

@for $i from 0 through 780 {
  .w-#{$i}{
    width: #{$i}px;
    display: inline-block;
    float:left;
  }
}

@for $i from 0 through 100 {
  .w-p-#{$i}{
    width: $i*1%;
    display: inline-block;
    float:left;
  }
}