.queue-activity-graph {
  multi-select {
    display: inline-block;
  }
}

.metric-selection {
  display: inline;
  float:left;
  &.vs,
  .fa-minus-circle{
    line-height: 38px;
    margin-left: 10px;
    text-align: center;
  }
  .fa-minus-circle {
    font-size: 16px;
    color:#555;
    &:hover {
      cursor:pointer;
    }
  }
  &:nth-child(3) {
    margin-left: 10px;
  }
}