.sparkline-metric {

  $blue:rgb(124, 181, 236);
  $orange:rgb(247, 163, 92);

  position: relative;
  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(9){
    -webkit-box-shadow: none;
  }
  -webkit-box-shadow: 1px 0px #ddd;
  .name{

  }
  .value{
    font-size: 17px;
    @extend .semibold;
    float:right;
    margin-right: 10px;
  }
  .metric{}
  .sparkline {
    .highcharts-container {
      display: inline;
      float:right
    }
  }
  .inner {
    padding:20px;
  }
  &:hover {
    -webkit-transition:0.3s;
    cursor:pointer;
    background:rgba(0,0,0,0.03)
  }
  &.first,
  &.second,{
    @extend .semibold;
    &:after,
    &:after {
      position: absolute;
      display: block;
      width: 11px;
      height: 8px;
      content: "";
      top: 50%;
      left:13px;
      -webkit-transform:translate3d(0, -50%, 0);
    }
  }

  &.first {
    &:after {
      background:$blue
    }
  }
  &.second {
    &:after {
      background:$orange;
    }
  }


}