$border: #ddd;
$r: 5px;
$green: #77a500;
$blue: #358FB2;
$red:#EA6B61;
$margin:30px;

* {
  box-sizing: border-box;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

body {
  background:#f8f8f8;
  font-size: 13px;
  font-family: "Proxima Nova";
}

.section-header {
  line-height: 50px;
  height:50px;
  -webkit-box-shadow: 0px 1px 0px 0px #ddd;
  @extend .semibold;
  text-indent: 20px;

}

ul.tick-list {
  li {
    background: url('/img/tick.png') center left no-repeat;
    line-height: 30px;
    text-indent: 25px;
  }
}

.section {
  border-radius: $r;
  -webkit-box-shadow: 0px 0px 0px 1px #ddd;
  background:#fff;
  margin-top:$margin;
  .inner {
    padding:20px;
  }
}

h3 {
  font-size: 13px;
  @extend .semibold;
}

.popover {
  font-size: 13px;
  padding:20px;
  border:1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 2px 8px rgba(0,0,0,.2);
  max-width: 999px;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5 {
  margin:0;
  padding:0;
}

.filter-value {
  margin-left:5px;
  position: relative;
  i {
    margin-left:5px;
    display: inline;
  }
}

button.btn {
  font-size: 13px;
  @extend .semibold;
  &.btn-primary {
    background:white;
    border:1px solid #ddd;
    color:#555
  }
}

.sticky {
  position: fixed;
  top: 40px;
  left: 365px;
  width: calc(100% - 350px);
  height: 50px;
  z-index: 9999;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding:5px 20px;
  p {
    display:none;
  }
  h3 {
    position: relative;
//    top:20px;
  }
  .number-select {
    position:relative;
//    top:-18px;
  }
}

.number-select {
  h3 {
    display: inline-block;
    padding-top: 13px;
    margin-right: 15px;
  }
}

.row {
  .sub {
    @extend .regular;
    margin-right: 20px;
    color:#999;
    font-size: 11px;
    float:right;
  }
}

@import "current-queue";
@import "queue-graph";
@import "table";
@import "sparkline";
@import "mutli-select";
@import "lotus-wrapper";
@import "margins";
@import "toggle";