$highlight:#F0F9FF;
$active: #f3f3f3;

table.table {
  margin-bottom: 0px;
 thead {
   tr {
     th {
       font-size: 12px;
       &:first-child {
         padding-left:20px;
       }
       &:last-child {
         padding-right:20px;
       }
     }
   }
 }
  tbody {
    tr {
      &.routing {
        background: $highlight;
      }
      td {
        padding:6px;
        &.locale {
          text-indent: 30px;
          background: url("/img/flag-ie.png") 10px center no-repeat;
          &.ie {
            background-image: url("/img/flag-ie.png");
          }
          &.us{
            background-image: url("/img/flag-us.png");
          }
          &.uk {
            background-image: url("/img/flag-uk.png");
          }
        }
        font-size: 13px;
        color:#555;
        &:first-child {
          padding-left:20px;
        }
        &:last-child {
          padding-right:20px;
        }
      }
    }
  }
  .group-name {
    font-size: 12px;
    @extend .semibold;
    color:#999;
  }
  td:last-child{
    position:relative;
  }
  tbody {
    tr:hover{
      background: $active;
      cursor:pointer;
    }
    tr.active {
      border-left:5px solid $green;
    }
  }
  td.bad {
    color: $red;
  }
  td.good {
    color:$green;
  }
  td {
    line-height: 25px !important;
  }
  td.avatar {
    width: 50px;
    img {
      $d:24px;
      width:$d;
      height:$d;
      border-radius: 50%;
      border:1px solid #ddd;
    }
  }
}


.table>tbody+tbody {
  border-top:1px;
}

.table-wrapper {
  position: relative;
}

.sort-controls {

  position: absolute;
  top:5px;
  right:20px;
  width: 22px;
  height: 22px;
  display: block;

  .table-hamburger {
    display: block;
    width: 22px;
    height: 22px;
    border:1px solid #ddd;
    border-radius: 3px;
    background: url('/img/hamburger.png') center center no-repeat #f4f4f4;
    &:hover,
    &.active{
      background-color:#d9d9d9;
      cursor:pointer;
    }
  }

  .sort-popover {
    position: relative;
    display: block;
    top:0px;
    left:22px;
    -webkit-transform: translate3d(-100%,0,0);
    width:280px;
//    height: 200px;
  }

}


.filter-controls {
position: relative;
  text-indent: 0;
  .filter-popover{
    display: block;
    position: absolute;
    top:-10px;
    left:20px;
    label {
      text-indent: 0px;
    }

  }
}

.filter-selection:hover {
  cursor:pointer;
}

.label-sort {
  display: block;
  position: relative;
}

.sort-switch {
  color:$blue;
  position:absolute;
  top:0;
  right:0;
  @extend .regular;
}


.agent-detail {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid #ddd;
  }
  position: absolute;
  top:0;
  z-index:8000;
  right:0;
  width: 500px;
  background:white;
  @extend .popover;
  -webkit-transform:translate3d(0,-50%,0);
  &:after {
    display: block;
    position: absolute;
    left:0px;
    top:50%;
    width:15px;
    height:15px;
    background: #fff ;
    padding:0;
    content:"";
    @extend .popover;
    -webkit-transform:translate3d(-50%,50%,0) rotate(45deg);
    box-shadow: none;
    border-top: none;
    border-right: none;
  }
  h3 {
    font-size: 15px;
    @extend .semibold;
    color:#333;
  }
  p {
    color:#999;
    margin:3px 0 0 0;
    line-height: 100%;
  }
}


td.status {
  position: relative;
  padding-left: 10px;

  &:before {
    position: absolute;
    width: 8px;
    content:"";
    top:15px;
    left:-10px;
    height: 8px;
    border-radius: 50%;
    background: red;
  }


  &.in-call {
    &:before {
      background: #2DAEE0;
    }
  }
  &.unavailable {
    &:before {
      background: $red;
    }
  }
  &.available {
    &:before {
      background: #94C000;
    }
  }

}

.status-wrapper {
  select {
    border:1px solid transparent;
    background: transparent;
    -webkit-appearance: none;
    text-indent: 25px;
    width: 130px;
  }
  select[disabled]{
    &:hover {
      cursor: not-allowed;
    }
  }
  position: relative;
  &:hover {
    &:after {
      position: absolute;
      width: 10px;
      height: 10px;
      top:7px;
      left:110px;
      content: "";
      -webkit-transform: rotate(-135deg) scale(0.6);
      border-left:3px solid #aaa;
      border-top:3px solid #aaa;
    }
    select {
      cursor:pointer;
      border:1px solid #ddd;
    }

  }
  &:before {
    position: absolute;
    width: 8px;
    height: 8px;
    content:"";
    top:8px;
    left:8px;
    border-radius: 50%;
    background: red;
  }
  &.in-call {
    &:before {
      background: #2DAEE0;
    }
  }
  &.unavailable {
    &:before {
      background: $red;
    }
  }
  &.available {
    &:before {
      background: #94C000;
    }
  }
}