.radio-button {
  $h:30px;
  background:#ccc;
  height:$h;
  border-radius:5px;
  position: relative;
  width:60px;
  -webkit-transition:0.3s;
  .toggle {
    content: "";
    position: absolute;
    top:3px;
    left:3px;
    border-radius:5px;
    width: 25px;
    height: 24px;
    background: #fff;
    -webkit-transition:0.3s;
  }
  &.active {
    background:$green;
    .toggle {
      left:31px;
    }
  }
  &:hover {
    cursor:pointer;
  }
}
