    <!--current agent availability & benchmarks -->
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div class="section-header">Current agent availability</div>
                <div class="inner">
                    <div style="height:340px;" agent-availability></div>
                </div>
            </div>
        </div>
    </div>
    <!--current agent availability & benchmarks -->

    <!-- agents -->
    <div class="row" ng-controller="agentsController as agentsCtrl">
        <div class="col-md-12">
            <div class="section">
                <div class="section-header">
                    <agent-filter-popover agents="agentsCtrl"></agent-filter-popover>
                </div>
                <div class="table-wrapper">
                    <table class="table">
                        <agent-table-popover agents="agentsCtrl"></agent-table-popover>
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-click="agentsCtrl.setPredicate('name')">Agent <i ng-show="agentsCtrl.predicate == 'name' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse}"></i></th>
                            <th ng-click="agentsCtrl.setPredicate('status')">Status <i ng-show="agentsCtrl.predicate == 'status' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                            <th ng-click="agentsCtrl.setPredicate('timeAvailable')">Time available <i ng-show="agentsCtrl.predicate == 'timeAvailable' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                            <th ng-click="agentsCtrl.setPredicate('avgTalkTime')">Avg talk time <i ng-show="agentsCtrl.predicate == 'avgTalkTime' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                            <th ng-click="agentsCtrl.setPredicate('callsAccepted')">Calls accepted <i ng-show="agentsCtrl.predicate == 'callsAccepted' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                            <th ng-click="agentsCtrl.setPredicate('avgWrapUpTime')">Avg wrap up time <i ng-show="agentsCtrl.predicate == 'avgWrapUpTime' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-show="agentsCtrl.group" ng-repeat-start="group in agentsCtrl.groups">
                            <td></td>
                            <td colspan="6" class="group-name">{{group.name}}: ({{group.agents.length}})</td>
                        </tr>
                        <tr ng-class="{active:agentsCtrl.isActive(agent)}" ng-click="agentsCtrl.toggleDetail(agent)" ng-show="agentsCtrl.group" ng-repeat="agent in group.agents">
                            <td class="avatar"><img src="/img/avatars/{{agent.avatar}}.png"/></td>
                            <td>{{agent.name}} </td>
                            <td>{{agent.status}}</td>
                            <td>{{agent.timeAvailable}}</td>
                            <td>{{agent.avgTalkTime}}</td>
                            <td>{{agent.callsAccepted}}</td>
                            <td>{{agent.avgWrapUpTime}} <popover-table agents="agentsCtrl" active="agentsCtrl.isActive(agent)" agent="agent"></popover-table></td>
                        </tr>
                        <tr ng-repeat-end></tr>

                        <tr ng-class="{active:agentsCtrl.isActive(agent)}" ng-click="agentsCtrl.toggleDetail(agent)" ng-show="!agentsCtrl.group" ng-repeat="agent in agentsCtrl.agents | orderBy:agentsCtrl.predicate:agentsCtrl.reverse">
                            <td class="avatar"><img src="/img/avatars/{{agent.avatar}}.png"/></td>
                            <td>{{agent.name}}</td>
                            <td>{{agent.status}}</td>
                            <td>{{agent.timeAvailable | time}} </td>
                            <td>{{agent.avgTalkTime | time}}</td>
                            <td>{{agent.callsAccepted}}</td>
                            <td>{{agent.avgWrapUpTime | time}} <popover-table agents="agentsCtrl" active="agentsCtrl.isActive(agent)" agent="agent"></popover-table> </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- agents -->