<!doctpe html>
<html ng-app="app" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Voice dashboards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="shortcut icon" href="/favicon.png" />
</head>

<body>

<div id="lotus-container" ng-controller="lotusController as lotusCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h1>Voice</h1>
            </div>
        </div>

        <div class="row b-40">
            <div class="col-md-12">
                <div class="lotus-tabs">
                    <ul>
                        <li>Settings</li>
                        <li>Numbers</li>
                        <li>Greetings</li>
                        <li ng-class="{'active': lotusCtrl.queue == true}" ng-click="lotusCtrl.queue = true; lotusCtrl.agents = false">Queue</li>
                        <li ng-class="{'active': lotusCtrl.agents == true}" ng-click="lotusCtrl.queue = false; lotusCtrl.agents = true" >Agent</li>
                        <li>IVR</li>
                    </ul>
                </div>
            </div>
        </div>


        <div ng-controller="generalController as generalCtrl">
            <div ng-controller="currentQueueController">

                <div class="row number-select" sticky>
                    <div class="col-md-12">
                        <h3>Numbers</h3>
                        <multi-select
                                input-model="generalCtrl.numberData"
                                button-label="name"
                                item-label="name"
                                tick-property="ticked"
                                max-labels="1"
                                output-model="generalCtrl.concatNumber"
                                helper-elements="filter"
                                >
                        </multi-select>
                    </div>
                </div>

                <!-- current queue -->
                <div class="row current-queue">

                    <div class="col-md-12">
                        <div class="section">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-header">call queue activity </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-repeat="metric in queueActivity" class="col-md-3 item">
                                    <div class="name">{{metric.name}}</div>
                                    <div class="value">
                                        <span ng-if="metric.time">{{metric.value | time}}</span>
                                        <span ng-if="!metric.time">{{ ((metric.value) / 3) * generalCtrl.concatNumber.length | number:0 }}</span>
                                        <span class="percentage" ng-class="{'green':metric.green, 'red': !metric.green}">{{metric.percentage}}% <i class="fa" ng-class="{'fa-caret-down': metric.down == true, 'fa-caret-up':metric.down == false}"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- current queue -->

                <div ng-show="lotusCtrl.queue == true">

                    <!--queue activity-->
                    <div class="row queue-activity-graph" ng-controller="sparklinesController as sparklineCtrl">
                        <div class="col-md-12">
                            <div class="section">
                                <div class="section-header">Queue <span class="sub"> Current window: May 12th 12:00 <i style="display: inline;margin:0 5px" class="fa fa-angle-right"></i> May 13th 12:00</span></div>
                                <div class="inner">
                                    <div>
                                        <div class="metric-selection">
                                            <multi-select
                                                    input-model="generalCtrl.metricSelectionOne"
                                                    output-model="generalCtrl.metricOne"
                                                    button-label="name"
                                                    item-label="name"
                                                    tick-property="ticked"
                                                    selection-mode="single"
                                                    helper-elements=""
                                                    >
                                            </multi-select>
                                        </div>
                                        <div class="metric-selection vs">
                                            vs
                                        </div>
                                        <div class="metric-selection">
                                            <multi-select
                                                    input-model="generalCtrl.metricSelectionTwo"
                                                    output-model="generalCtrl.metricTwo"
                                                    button-label="name"
                                                    item-label="name"
                                                    tick-property="ticked"
                                                    selection-mode="single"
                                                    helper-elements=""
                                                    >
                                            </multi-select>
                                        </div>
                                        <div ng-click="generalCtrl.resetSelection()" class="metric-selection">
                                            <i ng-show="generalCtrl.twoMetrics()" class="fa fa-minus-circle"></i>
                                        </div>

                                    </div>
                                    <div style="margin-top:50px;padding:0 20px;" queue-graph series="[generalCtrl.metricOne,generalCtrl.metricTwo]" averages="generalCtrl.concatAverages"></div>
                                    <!--sparkline row-->

                                    <div class="row">
                                        <div ng-click="generalCtrl.sparklineSelection(key)" ng-class="{'first': metric.slug == generalCtrl.metricOne[0].value, 'second': metric.slug == generalCtrl.metricTwo[0].value }" ng-repeat="(key, metric) in generalCtrl.concatAverages" class="col-md-4 sparkline-metric">
                                            <div class="inner">
                                                <span class="name">{{metric.name}}  </span>
                                                <span class="sparkline" sparkline metric="metric" title="{{metric.name}}" ></span>
                                                <span class="value">{{metric.value}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--sparkline row-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--queue activity-->

                    <!--current agent availability & benchmarks -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section">
                                <div class="section-header">Current agent availability</div>
                                <div class="inner">
                                    <div agent-availability></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section">
                                <div class="section-header">Benchmarks</div>
                                <div class="inner">
                                    <div benchmarks></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--current agent availability & benchmarks -->

                    <!-- live queue feed -->
                    <div class="row" ng-controller="liveQueueController">
                        <div class="col-md-12">
                            <div class="section">
                                <div class="section-header">Live Queue</div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th ng-click="predicate = 'position';reverse=!reverse ">Position <i ng-show="predicate == 'position' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                                        <th ng-click="predicate = 'callerId'; reverse=!reverse ">Caller ID <i ng-show="predicate == 'callerId' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                                        <th ng-click="predicate = 'destination'; reverse=!reverse ">Destination <i ng-show="predicate == 'destination' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                                        <th ng-click="predicate = 'timeInQueue'; reverse=!reverse">Time in queue <i ng-show="predicate == 'timeInQueue' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                                        <th ng-click="predicate = 'status'; reverse=!reverse ">Status <i ng-show="predicate == 'status' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-class="{'routing':call.status == 'routing' || call.status == 'routed'  }" ng-repeat="call in calls | orderBy:predicate:reverse | limitTo:5">
                                        <td>{{$index + 1}}</td>
                                        <td class="locale {{call.callerLocale}} ">{{call.callerId}}</td>
                                        <td class="locale {{call.destinationLocale}}">{{call.destination}}</td>
                                        <td>{{call.timeInQueue | time}}</td>
                                        <td>{{call.status}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- live queue feed -->

                </div>


                <div ng-show="lotusCtrl.agents == true">
                    <!--current agent availability & benchmarks -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section">
                                <div class="section-header">Current agent availability</div>
                                <div class="inner">
                                    <div style="height:340px;" agent-availability></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--current agent availability & benchmarks -->

                    <!-- agents -->
                    <div class="row" ng-controller="agentsController as agentsCtrl">
                        <div class="col-md-12">
                            <div class="section">
                                <div class="section-header">
                                    <agent-filter-popover agents="agentsCtrl"></agent-filter-popover>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table">
                                        <agent-table-popover agents="agentsCtrl"></agent-table-popover>
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th ng-click="agentsCtrl.setPredicate('name')">Agent <i ng-show="agentsCtrl.predicate == 'name' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse}"></i></th>
                                            <th ng-click="agentsCtrl.setPredicate('status')">Status <i ng-show="agentsCtrl.predicate == 'status' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                                            <th ng-click="agentsCtrl.setPredicate('timeAvailable')">Time available <i ng-show="agentsCtrl.predicate == 'timeAvailable' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                                            <th ng-click="agentsCtrl.setPredicate('avgTalkTime')">Avg talk time <i ng-show="agentsCtrl.predicate == 'avgTalkTime' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                                            <th ng-click="agentsCtrl.setPredicate('callsAccepted')">Calls accepted <i ng-show="agentsCtrl.predicate == 'callsAccepted' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                                            <th ng-click="agentsCtrl.setPredicate('avgWrapUpTime')">Avg wrap up time <i ng-show="agentsCtrl.predicate == 'avgWrapUpTime' " ng-class="{'fa fa-caret-up': !agentsCtrl.reverse,'fa fa-caret-down': agentsCtrl.reverse,}"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-show="agentsCtrl.group" ng-repeat-start="group in agentsCtrl.groups">
                                            <td></td>
                                            <td colspan="6" class="group-name">{{group.name}}: ({{group.agents.length}})</td>
                                        </tr>
                                        <tr ng-class="{active:agentsCtrl.isActive(agent)}" ng-click="agentsCtrl.toggleDetail(agent)" ng-show="agentsCtrl.group" ng-repeat="agent in group.agents">
                                            <td class="avatar"><img src="/img/avatars/{{agent.avatar}}.png"/></td>
                                            <td>{{agent.name}} </td>
                                            <td><status-dropdown agent="agent"></status-dropdown></td>
                                            <td>{{agent.timeAvailable}}</td>
                                            <td>{{agent.avgTalkTime}}</td>
                                            <td>{{agent.callsAccepted}}</td>
                                            <td>{{agent.avgWrapUpTime}}</td>
                                            <td><a href="">more</a> <popover-table agents="agentsCtrl" active="agentsCtrl.isActive(agent)" agent="agent"></popover-table> </td>
                                        </tr>
                                        <tr ng-repeat-end></tr>

                                        <tr ng-class="{active:agentsCtrl.isActive(agent)}" ng-click="agentsCtrl.toggleDetail(agent)" ng-show="!agentsCtrl.group" ng-repeat="agent in agentsCtrl.agents | orderBy:agentsCtrl.predicate:agentsCtrl.reverse">
                                            <td class="avatar"><img src="/img/avatars/{{agent.avatar}}.png"/></td>
                                            <td>{{agent.name}}</td>
                                            <td><status-dropdown agent="agent"></status-dropdown></td>
                                            <td>{{agent.timeAvailable | time}} </td>
                                            <td>{{agent.avgTalkTime | time}}</td>
                                            <td>{{agent.callsAccepted}}</td>
                                            <td>{{agent.avgWrapUpTime | time}} </td>
                                            <td><a href="">more</a> <popover-table agents="agentsCtrl" active="agentsCtrl.isActive(agent)" agent="agent"></popover-table></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- agents -->
                </div>

            </div>
        </div>



    </div>
</div>
<div id="lotus-sidebar">
    <div class="main"></div>
    <div class="sub">
        <div class="admin-sidebar">
            <h3>admin home</h3>
            <ul>
                <li>Overview</li>
            </ul>

            <h3>Apps</h3>
            <ul>
                <li>Marketplace</li>
                <li>Manage</li>
            </ul>

            <h3>Manage</h3>
            <ul>
                <li>People</li>
                <li>User fields</li>
                <li>Organization fields</li>
                <li>Views</li>
                <li>Macros</li>
                <li>Reports</li>
                <li>Tags</li>
                <li>Ticket Fields</li>
                <li>Ticket Forms</li>
                <li>Dynamic Content</li>
                <li>Sandbox</li>
            </ul>

            <h3>Channels</h3>
            <ul>
                <li>Email</li>
                <li>Twitter</li>
                <li>Chat</li>
                <li>Facebook</li>
                <li class="active">Voice</li>
                <li>Feedback tab</li>
                <li>API</li>
            </ul>

        </div>
    </div>
</div>
<div id="lotus-header"></div>

</body>

<!-- /script -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/highcharts/highcharts.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/js/bootstrap.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/isteven-angular-multiselect/angular-multi-select.js"></script>
<script src="/js/app/config.js"></script>
<script src="/js/app/filters/time.js"></script>
</html>