<!--queue activity-->
    <div class="row queue-activity-graph" ng-controller="sparklinesController as sparklineCtrl">
        <div class="col-md-12">
            <div class="section">
                <div class="section-header">Queue</div>
                <div class="inner">
                    <div>
                        <div class="metric-selection">
                            <multi-select
                                    input-model="generalCtrl.metricSelectionOne"
                                    output-model="generalCtrl.metricOne"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    selection-mode="single"
                                    helper-elements=""
                                    >
                            </multi-select>
                        </div>
                        <div class="metric-selection vs">
                            vs
                        </div>
                        <div class="metric-selection">
                            <multi-select
                                    input-model="generalCtrl.metricSelectionTwo"
                                    output-model="generalCtrl.metricTwo"
                                    button-label="name"
                                    item-label="name"
                                    tick-property="ticked"
                                    selection-mode="single"
                                    helper-elements=""
                                    >
                            </multi-select>
                        </div>
                        <div ng-click="generalCtrl.resetSelection()" class="metric-selection">
                            <i ng-show="generalCtrl.twoMetrics()" class="fa fa-minus-circle"></i>
                        </div>

                    </div>
                    <div style="margin-top:50px;padding:0 20px;" queue-graph series="[generalCtrl.metricOne,generalCtrl.metricTwo]" averages="generalCtrl.concatAverages"></div>
                    <!--sparkline row-->

                    <div class="row">
                        <div ng-click="generalCtrl.sparklineSelection(key)" ng-class="{'first': metric.slug == generalCtrl.metricOne[0].value, 'second': metric.slug == generalCtrl.metricTwo[0].value }" ng-repeat="(key, metric) in generalCtrl.concatAverages" class="col-md-4 sparkline-metric">
                            <div class="inner">
                                <span class="name">{{metric.name}}  </span>
                                <span class="sparkline" sparkline metric="metric" title="{{metric.name}}" ></span>
                                <span class="value">{{metric.value}}</span>
                            </div>
                        </div>
                    </div>
                    <!--sparkline row-->
                </div>
            </div>
        </div>
    </div>
    <!--queue activity-->


    <!--current agent availability & benchmarks -->
    <div class="row">
        <div class="col-md-6">
            <div class="section">
                <div class="section-header">Current agent availability</div>
                <div class="inner">
                    <div agent-availability></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section">
                <div class="section-header">Benchmarks</div>
                <div class="inner">
                    <div benchmarks></div>
                </div>
            </div>
        </div>
    </div>
    <!--current agent availability & benchmarks -->

    <!-- live queue feed -->
    <div class="row" ng-controller="liveQueueController">
        <div class="col-md-12">
            <div class="section">
                <div class="section-header">Live Queue</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th ng-click="predicate = 'position';reverse=!reverse ">Position <i ng-show="predicate == 'position' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                        <th ng-click="predicate = 'callerId'; reverse=!reverse ">Caller ID <i ng-show="predicate == 'callerId' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                        <th ng-click="predicate = 'destination'; reverse=!reverse ">Destination <i ng-show="predicate == 'destination' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                        <th ng-click="predicate = 'timeInQueue'; reverse=!reverse">Time in queue <i ng-show="predicate == 'timeInQueue' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                        <th ng-click="predicate = 'status'; reverse=!reverse ">Status <i ng-show="predicate == 'status' " ng-class="{'fa fa-caret-up': !reverse,'fa fa-caret-down': reverse,}"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-class="{'routing':call.status == 'routing' || call.status == 'routed'  }" ng-repeat="call in calls | orderBy:predicate:reverse | limitTo:5">
                        <td>{{$index + 1}}</td>
                        <td class="locale {{call.callerLocale}} ">{{call.callerId}}</td>
                        <td class="locale {{call.destinationLocale}}">{{call.destination}}</td>
                        <td>{{call.timeInQueue | time}}</td>
                        <td>{{call.status}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- live queue feed -->
