<div class="status-wrapper" ng-if="agent.status != 'in call'" ng-class="{'available':agent.status == 'available','in-call':agent.status == 'in call','unavailable':agent.status == 'unavailable'}">
    <select class="status-dropdown" ng-model="agent.status">
        <option value="unavailable">Unavailable</option>
        <option value="available">available</option>
    </select>
</div>


<div class="status-wrapper" ng-if="agent.status == 'in call'" ng-class="{'available':agent.status == 'available','in-call':agent.status == 'in call','unavailable':agent.status == 'unavailable'}">
    <select class="status-dropdown" disabled ng-model="agent.status">
        <option value="in call">In Call</option>
        <option value="unavailable">Unavailable</option>
        <option value="available">available</option>
    </select>
</div>
