<div class="agent-detail" ng-show="active">
    <div class="meta w-p-100">
        <div class="w-40">
            <img src="/img/avatars/{{agent.avatar}}.png"/>
        </div>
        <div class="l-60 t-5">
            <h3>{{agent.name}}</h3>
            <p>group: Support</p>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{{agent.name}}</th>
                <th>Average</th>
                <th>Difference %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Time available</td>
                <td>{{agent.timeAvailable | time}}</td>
                <td>{{ (agent.timeAvailable - ((agent.timeAvailable * 5) / 100)) | time}}</td>
                <td class="bad"><i class="fa fa-caret-down"></i> 5%</td>
            </tr>
            <tr>
                <td>Calls accepted</td>
                <td>{{agent.callsAccepted}}</td>
                <td>{{ (agent.callsAccepted - ((agent.callsAccepted * 2) / 100)) | number:0 }}</td>
                <td class="good"><i class="fa fa-caret-up"></i> 2%</td>
            </tr>
            <tr>
                <td>Calls denied</td>
                <td>{{agent.callsDenied}}</td>
                <td>{{ (agent.callsDenied - ((agent.callsDenied * 7) / 100)) | number:0 }}</td>
                <td class="good"><i class="fa fa-caret-up"></i> 7%</td>
            </tr>
            <tr>
                <td>Calls missed</td>
                <td>{{agent.callsMissed}}</td>
                <td>{{ (agent.callsMissed + ((agent.callsMissed * 7) / 100)) | number:0 }}</td>
                <td class="bad"><i class="fa fa-caret-down"></i> 3%</td>
            </tr>
            <tr>
                <td>Average talk time</td>
                <td>{{agent.avgTalkTime | time}}</td>
                <td>{{ (agent.timeAvailable - ((agent.timeAvailable * 15) / 100)) | time}}</td>
                <td class="bad"><i class="fa fa-caret-down"></i> 15%</td>
            </tr>
            <tr>
                <td>Total talk time</td>
                <td>{{agent.totalTalkTime | time}}</td>
                <td>{{ (agent.totalTalkTime - ((agent.totalTalkTime * 20) / 100)) | time }}</td>
                <td class="bad"><i class="fa fa-caret-down"></i> 20%</td>
            </tr>
            <tr>
                <td>Avg wrap up time</td>
                <td>{{agent.avgWrapUpTime | time}}</td>
                <td>{{ (agent.avgWrapUpTime - ((agent.avgWrapUpTime * 13) / 100)) | time }}</td>
                <td class="bad"><i class="fa fa-caret-down"></i> 13%</td>
            </tr>
            <tr>
                <td>Total wrap up time</td>
                <td>{{agent.totalWrapUpTime | time}}</td>
                <td>{{ (agent.totalWrapUpTime  - ((agent.totalWrapUpTime  * 11) / 100)) | time }}</td>
                <td class="good"><i class="fa fa-caret-up"></i> 11%</td>
            </tr>
        </tbody>
    </table>
</div>