<span class="sort-controls">
    <span ng-click="popover.active = !popover.active" class="table-hamburger"></span>
    <span ng-show="popover.active" class="popover sort-popover">
        <label>Columns</label>
        <ul class="tick-list">
            <li>Agent</li>
            <li>Status</li>
            <li>Time available</li>
            <li>Avg talk time</li>
        </ul>
        <div class="t-10">
            <a href="#">add columns</a>
        </div>
        <hr>
        <label class="label-sort">Group by <span class="sort-switch">sort</span></label>
        <select ng-model="agentsCtrl.groupOption" ng-change="agentsCtrl.sort()" class="form-control">
            <option selected value="">-</option>
            <option value="status">Status</option>
        </select>
        <label class="label-sort t-15">Order by <span class="sort-switch">sort</span></label>
        <select ng-model="agentsCtrl.predicate" class="form-control">
            <option value="name">Name</option>
            <option value="status">Status</option>
        </select>
        <hr>
        <span>
            <label>Avg comparison</label>
        </span>
        <toggle style="float:right" model="agentsCtrl" option="comparison"></toggle>
    </span>
</span>