<span class="filter-selection" ng-click="popover.active = !popover.active">
    Agent activity: <span class="filter-value">All ({{agentsCtrl.agents.length}})<i class="fa fa-caret-down"></i></span>
</span>
<div ng-show="popover.active" class="filter-controls">
    <div class="popover filter-popover w-400">

        <div class="w-p-100">
            <div class="w-p-15">
                <label>Filters</label>
            </div>
            <div class="w-p-85">
                <div>
                    <input type="text" class="form-control"/>
                </div>
                <div class="t-10">
                    <a>add new filter</a>
                </div>
            </div>
        </div>

        <div class="w-p-100">
            <hr>
        </div>

        <div class="w-p-100">
            <button class="btn btn-primary">clear</button>
        </div>

    </div>
</div>